@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}

.main{
    background-image: url(assets/images/bg-1.jpg);
    height: 90vh;
    position: relative;
    background-position: center center;
    background-size: max(900px, 100vw);
    background-repeat: no-repeat;
    /* border: 5px solid red; */
    /* opacity: 0.44; */
  
}

.nav-list{
    padding-top : 1rem;
}

.main .box{

    height: 90vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    overflow: none;
    position: absolute;
    /* ; lead to the all view point to cover */
    top: 0;
    bottom: 0;
    /* border: 5px solid red; */
    
}

nav{
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 50px;

}

.logo-img{
    height: 2.5rem;
    width: 9.25rem;
    position: relative;
    z-index: 10;
}

.lang{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    z-index: 10;
}

nav span img{
    /* height: 30px; */
}

.hero{
    font-family: 'Martel Sans', sans-serif;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 10;
    padding: 0 23px;
   
}

.Unlimited{
    font-size: 48px;
    color: #ffffff;
    font-weight: 500;
    /* margin: 0.4rem; */
}

.watch{
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    margin: 1rem;
}

.Ready{
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    line-height: 30px;
    margin: 0.5rem;
}

.email-box{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
.form{
    height: 2rem;
    width: 2remrem;
    position: relative;
    font-weight: 400;
    height: 16px;
    

}

.form ::placeholder{
    color: #ffffff;
    font-size: 1rem;
    
}


    
.btn{
    padding: 3px 28px;
    font-weight: bold;
    background-color: rgba(23, 23, 23, 0.7);
    color: #ffffff;
    cursor:unset;

}

.btn-red{
background-color: red;
font-size: 1.3rem;
font-weight: bolder;
color: white;
padding: 16px 35px;
border-radius: 4px;

}

.main input{
    padding: 12px 35px 12px 7px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border-radius: 1px soild rgba(23, 23, 23, 0.4);
}
.red-btn-sm{
background-color: red;
color: white;
padding: 0.5rem 1rem;
border-radius: 5px;
border: none;
cursor: pointer;
}

.saperate{
    height: 11px;
    background-color: rgb(45, 44, 44);
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1rem;
    max-width: 70vw;
}

@media screen and(min-width:955px) {
    .first{
        display: flex;
        flex-direction: column;
    }
}

.text{
    color: #ffffff;
}
.secimg img{
    width: 35vw;
    position: relative;
    z-index: 10;
}
.secimg {
    position: relative;
}

.secimg video{
    max-width: 410px;
    position: absolute;
    top: 82px;
    right: 65px;
}

/* third box pending */

.third.secimg video{
    max-width: 410px;
    position: absolute;
    top: 82px;
    right: 65px;
    
}

section.first >div{
    display: flex;
    flex-direction: column;
}

section.first >div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 1rem;
}

section.first >div :nth-child(2){
    font-size: 21px;
    font-weight: bolder;
}



.FAQ{
    text-align: center;
    color: #ffffff;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 30px;
    font-weight: 900;
}

.faqbox{
    display: flex;
    background-color: rgba(55, 53, 53, 0.545);
    padding: 24px;
    margin: auto;
    max-width: 65vw;
    margin-top: 1rem;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
}

.faqbox:hover{
    background-color: rgba(43, 39, 39, 0.936);
}

.faqbox svg{
    filter: invert(1);
    
}

.faq-email{
    margin: 3rem 0px 4rem;
}

footer{
    color: #ffffff;
    margin: auto;
    max-width: 70vw;
    padding: 14px;
}


.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}
.footer a{
    text-decoration: none;
    color: #ffffff;
}

footer .Questions{
    padding: 34px 0;
}


.footer-items{
    display: flex;
    flex-direction: column;
  cursor: pointer;
  gap: 24px;
}